*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

/* inizio header*/
.dflex{
    display: flex;
}

header nav{
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

.header-sx, .header-dx{
    align-items: center;
}

.header-sx li img{
    vertical-align: middle;
}

.header-dx{
    justify-content: end;
}

.button{
    background-color: #0061ff;
    padding: 5px;
}

.white{
    color: white;
}

/* fine header*/

main{
    padding: 65px 0px;
}

/* inizio jumbotron*/
#jumbotron{
    height: 600px;
    background-color: #b4d0e7;
    padding: 20px 0px;
    margin-bottom: 100px;
}

.mwidth1170{
    max-width: 1170px;
    margin: auto;
}

h1{
    font-size: 60px;
}

.width30{
    width: 30%;
}

.width70{
    width: 70%;
}

.width100{
    width: 100%;
}

.col p{
    padding: 20px 0px;
}

.col img{
    padding: 20px 0px;
}

.fa-arrow-down{
    font-size: 50px;
    padding-top: 100px;
}
/* fine jumbotron*/


.heading2{
    height: 80px;
    background-color: red;
    margin-bottom: 20px;
}


.infobox{
    width: 400px;
    height: 50px;
    background: lightcoral;
    
}

.mwidth60{
    max-width: 60%;
    margin: auto;
}

.piani{
    height: 800px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.colonna{
    width: calc(100% / 3 - 10px);   
    background: green;
    margin-right: 10px;
}

.heading-enterprise{
    height: 30px;
    background-color: red;
}
.text-enterprise{
    height: 200px;
    background-color: blue;
}

.partner-dropbox{
    height: 500px;
    display: flex;
    background-color: blueviolet;
}

.img-partner{
    width: 60%;
    background-color: blanchedalmond;
}

.text-partner{
    width: 40%;
    background-color: #b4d0e7;
}

.container-business{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    background-color: khaki;
    margin-bottom: 20px;
}

.container-business .colonna{
    height: 250px;
}

.container-sponsor{
    height: 400px;
    background-color: cyan;
    display: flex;
    margin-top: 20px;

}

.sponsor{
    width: calc(100% / 3);
    background-color: violet;
    border: 2px solid black;
}

.take-dropbox{
    height: 300px;
    background-color: #b4d0e7;
    display: flex;
    align-items: center;
    
}

.text-take-dropbox{
    height: 150px;
    width: 100%;
    background-color: red;


}

.faq{
    height: 500px;
    background-color: cadetblue;
}

footer{
    height: 400px;
    background-color: black;
    color: white;
}

.container-footer{
    height: 300px;
    display: flex;
}

.info-footer{
    width: calc(100% / 5 - 10px);
    background-color: aqua;
    margin-right: 10px;
}

hr{
    width: 150px;
}

.margin{
    margin: 20px 0px;
}