*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

/* inizio header*/
.dflex{
    display: flex;
}

header nav{
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

.header-sx, .header-dx{
    align-items: center;
}

.header-sx li img{
    vertical-align: middle;
}

.header-dx{
    justify-content: end;
}

.button{
    padding: 5px 20px;
    background-color: #0061ff;

}

.white{
    color: white;
}

/* fine header*/

main{
    padding: 65px 0px;
}

/* inizio jumbotron*/
#jumbotron{
    height: 600px;
    background-color: #b4d0e7;
    margin-bottom: 100px;
}

.mwidth1170{
    max-width: 1170px;
    margin: auto;
}


.spacebetween{
    justify-content: space-between;
}

h1{
    font-size: 60px;
}

.width30{
    width: 30%;
}

.width70{
    width: 70%;
}

.width100{
    width: 100%;
}



.width70 img{
    margin-top: 20px;
}

.fa-arrow-down{
    font-size: 50px;
    padding-top: 80px;
    color: black;
}


/* fine jumbotron*/

.mwidth1000{
    max-width: 1000px;
    margin: auto;
}

h2{
    font-size: 30px;
}

.checkbox{
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: inline-block;
  }

.blue{
    background-color: #0061ff;
}

.grey{
    background-color: grey;
}

.fatturazione{
    margin-right: 30px;
}

.border{
    border: solid 1px gray;
}



/*inizio colonne piani*/
.iconchoice{
    padding: 8px 0px;
}

.taligncenter{
    text-align: center;
}

ul li{
    list-style: none;
}

.choice ul li{
    margin: 15px 0px;
}

.choice ul{
    padding: 18px 0px;
}

.choice{
    padding: 10px 20px;
}

i{
    margin-right: 5px;
}


#try{
   padding: 20px 0px;
   display: inline-block;
}


.choice hr{
    width: 40px;
}
hr{
    margin: 40px 0px;
}

.fa-check{
    color: #0061ff;
}
/*fine colonne piani*/


/*box enterprise*/

.padding10{
    padding: 10px 0px;
}

.paddingtop20{
    padding: 20px 0px;
}

.paddingtop20 h5{
    margin-bottom: 30px;
}
.padding20{
    padding: 20px;
}

/* fine box enterprise*/

/*partner*/
.width60{
    width: 60%;
}

.width40{
    width: 40%;
}

.padding50{
    padding: 50px;
}
/*fine partner*/

.flexwrap{
    flex-wrap: wrap;
}

.dropbusiness{
    margin-bottom: 150px;
}


.scopri{
    display: inline-block;
}
/* sponsor */
.container-sponsor{
    display: flex;
    margin-top: 80px;

}

.sponsor{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.small-sponsor{
    height: 50%;
    width: 50%;
}

.green{
    background-color: #a2d39b; 
}

.red{
    background-color: #61082b;
}

.celeste{
    background-color: #0093ce;
}

.celeste2{
    background-color: #b4d0e7;
}

.blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}

.brightred{
    background-color: #ff1c1c;
}

.lightgrey{
    background-color: #f5f5f5;
}

.center{
    justify-content: center;
    align-items: center;
}

.overflow{
    overflow: scroll;
}
/* fine sponsor */


.portadrop{
    background-color: #b4d0e7;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.text-portadrop{
    color: #61082b;
}

.bgwhite{
    background-color: white;
}

/* footer */
footer{
    
    background-color: black;
    color: white;
    padding: 50px 0px;
}


.info-footer{
    width: calc(100% / 5 - 10px);
    margin-right: 10px;
}

.info-footer ul li{
    margin: 10px 0px;
}

.mwidth1170 hr{
    width: 150px;
}

.margin{
    margin: 65px 0px;
}

/* fine footer */